/* Estilos para o cabeçalho */
header {
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header h1 {
    font-size: 24px;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

header p {
    font-size: 16px;
    margin: 5px 0 10px;
    font-family: 'Roboto', sans-serif;
}

.search-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 20%;
}

header input[type="text"] {
    width: 150px;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ddd;
    font-size: 14px;
    background-color: white;
    color: black;
}
