body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000;
    color: white;
}

header {
    background-color: #333;
    padding: 20px;
    text-align: center;
    color: white;
}

h1 {
    font-size: 2.5em;
    margin: 0;
}

.produtos {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}

.produto {
    background-color: #222;
    border: 1px solid #444;
    border-radius: 5px;
    width: 300px;
    text-align: center;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.produto img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

.produto h2, .produto p {
    color: #fff;
}

button.botao {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
}

button.botao:hover {
    background-color: #45a049;
}

#carrinho-container {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
}

#carrinho {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 15px 20px;
    border-radius: 50%;
    font-size: 1.5em;
    cursor: pointer;
}

#carrinho:hover {
    background-color: #45a049;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0