body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

nav {
    margin-top: 20px;
}

nav .botao {
    padding: 10px 20px;
    margin: 0 10px;
    background-color: #ff6347;
    color: white;
    border: none;
    cursor: pointer;
}

input#search-bar {
    margin-top: 20px;
    padding: 10px;
    width: 300px;
    font-size: 16px;
}

#carrinho-container {
    position: absolute;
    top: 20px;
    right: 20px;
}

#carrinho {
    background-color: #ff6347;
    color: white;
    padding: 10px 20px;
    border: none;
    font-size: 18px;
    cursor: pointer;
}

.produtos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}

.produto {
    background-color: white;
    border: 1px solid #ddd;
    margin: 10px;
    padding: 20px;
    width: 200px;
    text-align: center;
}

.produto img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.produto h2 {
    font-size: 18px;
    margin: 10px 0;
}

.produto .preco {
    font-size: 16px;
    color: green;
}

button.botao {
    background-color: #28a745;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

button.botao:hover {
    background-color: #218838;
}

#carrinho-compras {
    padding: 20px;
    margin-top: 40px;
    background-color: #fff;
    border-top: 2px solid #ddd;
}

#lista-carrinho p {
    font-size: 16px;
    margin: 5px 0;
}

#total-compra {
    font-size: 18px;
    margin-top: 20px;
    font-weight: bold;
}

footer {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}